.VerticalBar {
  height: 100vh;
  background-color: white;
  padding: 5em;

  .headWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

  @media screen and (min-width: 320px) {
    .headWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    }
  }

  @media screen and (min-width: 650px) {
    .headWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    }
  }

  @media only screen and (min-width: 1024px) {

  }

  header {
    display: flex;
  }

  .chartWrapper {
  width: 100%;
  }

  .chartArea {
    width: 100%;
    text-align: center;
    align-self: center;
  }

  .countyError {
    font-family: 'Roboto Condensed, sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
}

  @media screen and (min-width: 320px) {
    .countyError {
      font-family: 'Roboto Condensed', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8vh;
    }
  }

  @media screen and (min-width: 650px) {
    .countyError {
      margin-top: 20vh;
    }
  }

  @media only screen and (min-width: 1024px) {
    .countyError {
      font-size: 4em;
    }
  }

  .titleWrapper {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 320px) {
    .chartWrapper {
    width: 100%
    }
  }
}

@media screen and (min-width: 320px) {
  .VerticalBar {
    height: 50vh;
    padding: 3em;
  }
}

@media screen and (min-width: 650px) {
  .VerticalBar {
    height: 100vh;
    padding: 5em;
  }
}

@media only screen and (min-width: 1024px) {
  .VerticalBar {
    padding: 12em;
  }
}