@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.Header {
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 40px;
	position: absolute;
	top: 40px;
	width: 100%;
	z-index: 2;
}

@media only screen and (max-height: 480px) {
	.Header {top: 30px;}
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: titling-gothic-fb, sans-serif;
}

.digit {
	font-family: titling-gothic-fb, sans-serif;
}

h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

h1 {
	font-weight: 500;
	font-size: 36px;
	letter-spacing: -0.02em;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 5px;
}

h3 {
	font-size: 16px;
	font-weight: 500;
}

h4 {
	font-size: inherit;
	font-weight: 400;
	line-height: inherit;
	margin-bottom: 4px;
}

p {
	margin: 0;
	color: #888888;
}

.update-status {
	margin-top: 20px;
	display: inline-block;
	color: #ffffff;
	opacity: 0.5;
	font-weight: 500;
	font-size: 12px;
	background: url('/img/iconmonstr-refresh.svg') left top no-repeat;
	background-size: 14px 14px;
	padding-left: 22px;
}

img {
    max-width: 90vw;
    max-height: 50vh;
}

