body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	color: #444444;
	font-family: 'Archivo Black', sans-serif;
	font-weight: 400;
	line-height: 1.25;
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

.Header {
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 2;
}

@media only screen and (max-height: 480px) {
	.Header {top: 30px;}
}

@media only screen and (max-height: 360px) {
	.Header {top: 10px;}
}

.updateStatus {
	margin-top: 1.25em;
	display: inline-block;
	color: #ffffff;
	opacity: .75;
	font-weight: 500;
	font-size: 1rem;
}

@media only screen and (max-height: 360px) {
	.updateStatus {margin-top: 10px;}
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
	font-family: 'Roboto Condensed', sans-serif;
}

.digit {
	font-family: 'Archivo Black', sans-serif;
}

h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

h1 {
	font-weight: 500;
	font-size: 2.5rem;
	letter-spacing: -0.02em;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: .15em;
}

h3 {
	font-size: 1.25rem;
	font-weight: 500;
}

h4 {
	font-size: inherit;
	font-weight: 400;
	line-height: inherit;
	margin-bottom: .15em;
}

p {
	margin: 0;
	color: #888888;
}

@media only screen and (max-height: 320px) {
	h1 {font-size: 2rem;}
	h2 {font-size: 1.5rem;}
	h3 {font-size: 1rem;}
	h4 {font-size: .5rem;}
}

@media only screen and (min-width: 767px) {
	h1 {font-size: 4rem;}
	h2 {font-size: 3rem;}
	h3 {font-size: 2rem;}
	h4 {font-size: 1rem;}
}

@media only screen and (min-width: 1024px) {
	h1 {font-size: 5rem;}
	h2 {font-size: 4rem;}
	h3 {font-size: 3rem;}
	h4 {font-size: 1rem;}
}

.Landing {
    width: 100%;
    height: 100vh;
    background-color: #0e1111;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}

.mainStats {
	position: absolute;
	width: 100%;
	bottom: 50px;
	z-index: 2;
	box-sizing: border-box;
	padding: 0px 20px 0 20px;
}

.mainStatsInner {
    padding: 20px 0 0 0;
    border-top: 2px solid rgba(255,255,255,0.4);
}

@media only screen and (max-width: 320px) {
	.mainStatsInner {
		padding: 10px 0 0 0;
		border-top: 2px solid rgba(255,255,255,0.4);
	}
}


@media only screen and (max-height: 420px) {
	.mainStats {
		bottom: 20px;
		padding: 0px 20px 0 30px;
	}
}

@media only screen and (min-width: 360px) {
	.mainStats {
		bottom: 30px;
		padding: 0px 20px 0 30px;
	}
}

@media only screen and (min-width: 767px) {
	.mainStats {
		bottom: 40px;
		padding: 0px 40px 0 40px;
	}
}

@media only screen and (min-width: 1025px) {
	.mainStats {
		padding: 0px 90px 0 90px;
	}
}

.mainStat {
    margin: 0 auto;
	text-align: center;
	display: inline-block;
	width: 33.3333333%;
	box-sizing: border-box;
}

.county {
    margin: 0 auto;
	text-align: center;
	display: inline-block;
	width: 33.3333333%;
	box-sizing: border-box;
}

@media only screen and (min-width: 420px) {
	.number {
		font-size: 24px;
	}
}

.change {
	margin-top: 1em;
	background: #ee1250;
	color: #ffffff;
	display: inline-block;
	padding: 3px 6px 4px 6px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

@media only screen and (min-width: 767px) {
	.mainStat:nth-child(2) {
		border-right: 2px solid rgba(255,255,255,0.3);
		border-left: 2px solid rgba(255,255,255,0.3);
	}
}



