.ChartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: auto;
}

.chartTitle {
    margin-top: 1em;
    margin-right: .65em;
}

.ChartContainer {
    width: 100%;
    padding-left: .75em;
}

@media screen and (min-width: 320px) {

    .chartTitle {
      font-size: 1.5em;
    }

    .ChartWrapper {
        width: 290px;
    }

    .ChartContainer {
        width: 320px;
        padding-left: .75em;
    }
}

@media screen and (min-width: 550px) {

    .chartTitle {
      font-size: 1.5em;
    }

    .ChartWrapper {
        width: 600px;
        margin: auto;
    }

    .ChartContainer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {

    .chartTitle {
        font-size: 1.5em;
      }
  
      .ChartWrapper {
          width: 90vw;
      }

}

@media screen and (min-width: 1024px) {
    .ChartWrapper {
        width: 65vw;
    }
}

@media screen and (min-width: 1360px) {
    .ChartWrapper  {
        width: 600px;
    }
}




