.ChartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: auto;
}

.chartTitle {
    margin-top: 1em;
    margin-right: .65em;
}

.ChartContainer {
    width: 100%;
    padding-left: .75em;
}

@media screen and (min-width: 320px) {

    .chartTitle {
      font-size: 1.5em;
    }

    .ChartWrapper {
        width: 100%;
    }

    .ChartContainer {
        width: 95%;
        padding-left: .75em;
    }
}

@media screen and (min-width: 600px) {

    .chartTitle {
      font-size: 1.5em;
    }

    .ChartWrapper {
        width: 100%;
    }

    .ChartContainer {
        width: 95%;
        padding-left: 3em;
    }
}

@media screen and (min-width: 900px) {
    .ChartWrapper {
        width: 70vw;
    }

    .ChartContainer {
        padding-left: 3.25em;
    }
}

@media screen and (min-width: 1300px) {
    .ChartWrapper  {
        width: 600px;
    }
}




