@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html * {
  font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #415a4c;
}

.dynamoContainer {
    margin: auto;
    padding: .25em;
}

.dynamoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    background-color: #6ba584;
    border-radius: .5em;
    padding: 1em;
}

.dynamoDisplay {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    padding: 1em 0;
}

.number {
    padding: .5em 0;
}

.countyTitle {
    width: 100%;
    padding-bottom: .5em;
    justify-content: start;
    align-items: flex-start;
}


@media screen and (min-width: 320px) {
    .dynamoWrapper {
        flex-direction: column;
        max-width: 270px;
    }
}

@media screen and (min-width: 768px) {
    .Home {
        display: flex;
        justify-content: space-evenly;
    }
    .dynamoContainer {
        margin: 0;
    }
    .dynamoWrapper {
        flex-direction: column;
        width: 300px;
    }
}

@media screen and (min-width: 1360px) {
    .Home {
        display: block;
        justify-content: space-around;
    }
    .dynamoContainer {
        display: flex;
        flex-direction: row;
        max-width: 1000px;
        margin: auto;
    }
}