
.info-pane {
	position: fixed;
	background: #111111;
	color: #ffffff;
	right: -100%;
	width: 100%;
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	min-height: 100%;
	-webkit-transition-duration: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
	z-index: 1000;
}

.info-pane::-webkit-scrollbar {
    display: none;
}