.Footer {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: black;
    color: white;
    padding: 40px 60px;

    .footerContent {
        max-width: 800px;
    }

    p {
        margin-bottom: 1em;
    }

    .disclaimer {
        font-size: .75rem;
    }

    a {
        color: white
    }

    a:visited {
        color: #888888
    }
}