.radioGroup {
    display: flex;
  }

  @media screen and (min-width: 320px) {
    .radioGroup {
      display: inline-flex;
      align-self: center;
      margin-top: 2.5em;
      margin-bottom: 2.5em;
      margin-right: .75em;
    }
  }

  @media only screen and (min-width: 560px) {
    .radioGroup{
      
    }
  }
  
  @media only screen and (min-width: 1024px) {
   .radioGroup{

   }
  }
  
  input[type=radio] {
    opacity: 0;
    position: absolute;
  }
  
  label {
    display: inline-block;
    background-color: white;
    font-size: 16px;
    width: 6em;
    height: 1.25em;
    text-align: center;
  }

  @media screen and (min-width: 320px) {
    label {
      padding: .35em .5em;
      margin: .35em;
      font-size: .25rem;
      border-left: .5em solid white;
      border-right: .5em solid white;
      border-bottom: .5em solid black;
      border-top: .5em solid black;
      border-radius: .35em;
    }
  }

  @media only screen and (min-width: 560px) {
    label {
      padding: .5em;
      font-size: .35rem;

    }
  }

  @media screen and (min-width: 1024px) {
    label {
      font-size: .65rem;
      border-left: .25em solid white;
      border-right: .25em solid white;
      border-bottom: .25em solid black;
      border-top: .25em solid black;
      border-radius: .5em;
    }
  }
  
  input[type=radio]:checked + label {
    background-color: black;
    color: white;
  }
  
  input[type=radio]:hover + label {
    background-color: black;
    color: white;
  }